@model DogViewModel


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}<h1>Hello from the create page!</h1>
<hr/>
<div class="row">
	<div class="col-6">
		<div>
			<div class="card-header">
				<h4>Create your own dog below.</h4>

			</div>

				<div class="card-body">
					<form asp-controller="HelloWorld" asp-action="CreateDog" method="post">
						<div class="mb-3">
							<label class="form-label">Dog Name</label>
							<input asp-for="Name" type="text" class="form-control" />
						</div>

						<div class="mb-3">
							<label class="form-label">Dog Age</label>
							<input asp-for=Age type="number" class="form-control" />
						</div>
						<div>
							<button class="btn btn-primary" type="submit">Save</button>
						</div>

					</form>

				</div>

			<div class="card-footer">
				
			</div>

			@*<p>
				Hello your dog's name is  @Model.Name
			</p>*@

		</div>








	</div>
</div>





