@model List<FirstMvcApp.Models.DogViewModel>

@*
   
*@
@{
}
<h1>Welcome People!</h1>
<p>Get info about my dog below</p>

<ul>
	@foreach(var dog in Model){
		<li><h4>My dog's name is @dog.Name and it is @dog.Age years old!</h4></li>
	}

</ul>
